<div class="container-flex" *ngIf="user | async as user">
  <div class="verification-container">
    <mat-card class="card" *ngIf="!isEmailVerified">
      <mat-card-title> {{'verification emailNot title'| translate}} </mat-card-title>
      <mat-card-content>
        <p>
          {{'verification emailNot text1'| translate}}
        <strong>{{ user?.email }}</strong>
        </p>
        <p>
          {{'verification emailNot text2'| translate}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goLogin()">
          {{'login btn'| translate}}
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" *ngIf="isEmailVerified">
      <mat-card-title> 
        {{'verification email title'| translate}} 
      </mat-card-title>
      <mat-card-content>
        <p>
          {{'verification email text1'| translate}}
          <strong>{{ user?.email }}</strong> {{'verification email text2'| translate}}
        </p>
        <p>{{'verification email text3'| translate}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goLogin()">
          {{'login btn'| translate}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="img-container">
    <img src="../../../assets/authenticationImg.svg" alt="authImg" />
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > {{'loading'|translate}} </p></ngx-spinner>