<div class="container-flex">
  <div class="login-container">
    <h1>Login</h1>
    <form class="form" [formGroup]="myForm">
      <mat-form-field appearance="outline" style="margin-bottom: 6px">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Write your email"
          type="email"
          formControlName="email"
        />
        <mat-error
          *ngIf="myForm.controls['email'].errors?.['required'] && myForm.controls['email'].touched"
        >
          The email is required
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['email'].errors?.['pattern'] && myForm.controls['email'].touched"
        >
          Invalid email pattern
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="At least 6 characters long"
          formControlName="password"
        />
        <mat-error
          *ngIf="myForm.controls['password'].errors?.['required'] && myForm.controls['password'].touched"
        >
          The password is required
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['password'].errors?.['minlength'] && myForm.controls['password'].touched"
        >
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>
    </form>
    <button class="login-btn" [disabled]="myForm.invalid" (click)="login()">
      Login
    </button>
    <button class="google-btn" (click)="googleSignIn()">
      <div class="container-google">
        <img src="../../../assets/googleLogo.png" class="google-icon" />
        <span class="buttonText">Sign in with Google</span>
      </div>
    </button>
    <span class="signup">
              <p>
                    Don't have an account? <a routerLink="/auth/signup"><strong>Sign up</strong></a>
              </p> 
    </span>
  </div>
  <div class="img-container">
    <img src="../../../assets/loginImg.svg" alt="" />
  </div>
</div>
