<div class="container-flex">
  <div class="login-container">
    <h1>{{ 'login title' | translate }}</h1>
    <form class="form" [formGroup]="myForm">
      <mat-form-field appearance="outline" style="margin-bottom: 6px">
        <mat-label>{{ 'email title' | translate }}</mat-label>
        <input
          matInput
          placeholder="Write your email"
          type="email"
          formControlName="email"
        />
        <mat-error
          *ngIf="myForm.controls['email'].errors?.['required'] && myForm.controls['email'].touched"
        >
          {{ 'error required' | translate }}
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['email'].errors?.['pattern'] && myForm.controls['email'].touched"
        >
          {{ 'email pattern' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'password title' | translate }}</mat-label>
        <input
          matInput
          placeholder="At least 6 characters long"
          formControlName="password"
          type="password"
        />
        <mat-error
          *ngIf="myForm.controls['password'].errors?.['required'] && myForm.controls['password'].touched"
        >
          {{ 'error required' | translate }}
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['password'].errors?.['minlength'] && myForm.controls['password'].touched"
        >
          {{ 'password error length' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
    <button class="login-btn" [disabled]="myForm.invalid" (click)="login()">
      {{ 'login title' | translate }}
    </button>
    <button class="google-btn" (click)="googleSignIn()">
      <div class="container-google">
        <img src="../../../assets/googleLogo.png" class="google-icon" />
        <span class="buttonText">{{ 'sign in google' | translate }}</span>
      </div>
    </button>
    <span class="signup">
      <p>
        {{ 'create account text1' | translate }}
        <a routerLink="/auth/signup"
          ><strong>{{ 'create account text2' | translate }}</strong></a
        >
      </p>
    </span>
  </div>
  <div class="img-container">
    <img src="../../../assets/loginImg.svg" alt="" />
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
  ><p style="color: white">{{ 'loading' | translate }}</p></ngx-spinner
>
