<mat-card class="card">
  <mat-card-title>{{ taskInput.taskName }}</mat-card-title>
  <mat-card-subtitle>Id: {{taskInput.id}} </mat-card-subtitle>
  <mat-card-content>
    <p>Amount of Blocks: {{ taskInput.amountBlocks }}</p>
    <p>Working Time of Blocks: {{ taskInput.workingTime }}</p>
    <p>Resting TIme between sets: {{ taskInput.restTime }}</p>
    <p *ngIf="!taskInput.description === null">
      Description: {{ taskInput.description }}
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: space-evenly">
    <button mat-flat-button color="warn" (click)="eliminateTask()">
      Eliminate
    </button>
    <button mat-flat-button color="primary" (click)="repeatTask()">
      Repeat
    </button>
  </mat-card-actions>
</mat-card>
