<div class="container-flex">
  <div class="signup-container">
    <h1>{{'signup title' | translate}}</h1>
    <form class="form" [formGroup]="myForm">
      <mat-form-field appearance="outline" style="margin-bottom: 6px">
        <mat-label>{{'fullname title'|translate}}</mat-label>
        <input
          matInput
          placeholder="{{'fullname placeholder'|translate}}"
          type="text"
          formControlName="fullname"
        />
        <mat-error
          *ngIf="myForm.controls['fullname'].errors?.['required'] && myForm.controls['fullname'].touched"
        >
          {{'error required' | translate}}
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['fullname'].errors?.['minlength'] && myForm.controls['fullname'].touched"
        >
          {{'fullname short' |translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-bottom: 6px">
        <mat-label>{{'email title'| translate}}</mat-label>
        <input
          matInput
          placeholder="{{'email placeholder'|translate}}"
          type="email"
          formControlName="email"
        />
        <mat-error
          *ngIf="myForm.controls['email'].errors?.['required'] && myForm.controls['email'].touched"
        >
        {{'error required' | translate}}
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['email'].errors?.['pattern'] && myForm.controls['email'].touched"
        >
          {{'email pattern'| translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-bottom: 6px">
        <mat-label>{{'username title'| translate}}</mat-label>
        <input
          matInput
          placeholder="{{'username placeholder'|translate}}"
          formControlName="username"
        />
        <mat-error
          *ngIf="myForm.controls['username'].errors?.['required'] && myForm.controls['username'].touched"
        >
        {{'error required' | translate}}
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['username'].errors?.['minlength'] && myForm.controls['username'].touched"
        >
          {{'username error length' |translate}}
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['username'].errors?.['usernameNoAvailable']"
        >
         {{'username error exists' | translate}}
        </mat-error>
        <mat-hint *ngIf="username?.pending">
          <span>{{'checking username'|translate}} {{ username?.value }}</span>
        </mat-hint>
        <mat-icon *ngIf="username?.valid" matSuffix> check_circle </mat-icon>
        <mat-icon *ngIf="username?.invalid" matSuffix> cancel </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'password title'| translate}}</mat-label>
        <input
          matInput
          placeholder="{{'password placeholder'| translate}}"
          formControlName="password"
          type="password"
        />
        <mat-error
          *ngIf="myForm.controls['password'].errors?.['required'] && myForm.controls['password'].touched"
        >
        {{'error required' | translate}}
        </mat-error>
        <mat-error
          *ngIf="myForm.controls['password'].errors?.['minlength'] && myForm.controls['password'].touched"
        >
          {{'password error length' |translate}}
        </mat-error>
        <mat-icon *ngIf="myForm.controls['password'].valid" matSuffix>
          check_circle
        </mat-icon>
        <mat-icon *ngIf="myForm.controls['password'].invalid" matSuffix>
          cancel
        </mat-icon>
      </mat-form-field>
    </form>
    <button
      class="create-account-btn"
      [disabled]="myForm.invalid"
      (click)="signup()"
    >
      {{'btn signup'| translate}}
    </button>
  </div>
  <div class="img-container">
    <img src="../../../assets/signupImg.svg" alt="signupImg" />
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > {{'loading'|translate}} </p></ngx-spinner>