

<div class="container-flex">
  <div class="signup-container">
    <h1>Sign Up</h1>
    <form class="form">
      <mat-form-field appearance="outline">
        <mat-label>Fullname</mat-label>
        <input matInput placeholder="Write your name & lastname" type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Write your email" type="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-bottom: 15px">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" />
        <mat-hint> The username must be at least 6 characters long </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-bottom: 15px">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" />
        <mat-hint> The Password must be at least 6 characters long </mat-hint>
      </mat-form-field>
    </form>
    <button class="create-account-btn">Create Account</button>
  </div>
  <div class="img-container">
    <img src="../../../assets/signupImg.svg" alt="" />
  </div>
</div>
