<!-- <div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Focus Timer</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container mt-3">
    <div class=" header text-center">
        <h1>Keep Yourself Concentrate</h1> 
        <h2>Lorem psum</h2>
    </div>

    <div class="d-flex justify-content-center">
        <mat-progress-spinner [color]="color"
        [mode]="mode"
        [value]="value"
        [diameter]="300"
        [strokeWidth]="10"></mat-progress-spinner>
    </div>
        
    

  </div>
</div> -->

<div class="navbar">
  <div class="logo">Focus Timer</div>
  <div class="right-navbar">
    <button class="btn btn-log-in">Log In</button>
    <button class="btn btn-sign-up">Sign Up</button>
  </div>
</div>

<div class="header">
  <div class="container">
    <div>
      <h1>Keep Yourself Concentrate</h1>
      <h2>if time is precious then make the most of it </h2>
    </div>
    <img src="../../../assets/undraw_time_management_re_tk5w.svg" alt="">
  </div>
</div>

