
.navbar {
  display: flex;
  background: #005f73;
  color: white;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar .right-navbar button {
  margin-left: 20px;
}

.btn {
  cursor: pointer;
  border-radius: 50px;
  padding: 7px 16px;
  background: none;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-color: #000; 
}

.btn-log-in {
  background: white;
}

.btn-sign-up {
  background: white;
}