<div class="navbar">
  <div class="logo">Focus Timer</div>
  <div class="right-navbar" >
    <button *ngIf="!isLogged" class="btn-navbar btn-log-in" routerLink="/auth">Log In</button>
    <button *ngIf="!isLogged" class="btn-navbar btn-sign-up" routerLink="/auth/signup">
      Sign Up
    </button>
    <button *ngIf="isLogged" class="btn-navbar btn-log-out" (click)="logout()" >
      Log Out
    </button>
  </div>
</div>

<div class="header">
  <div class="container">
    <div class="text">
      <h1>
        Keep Yourself Concentrate
        <img src="https://img.icons8.com/stickers/50/000000/goal.png" />
      </h1>
      <h2>
        If time is precious, then make the
        <strong class="underline">most</strong> of it
      </h2>
      <Particles
        *ngIf="!confettiHide"
        id="tsparticles"
        [options]="options"
      ></Particles>
    </div>
    <div class="img">
      <img
        class="header-img"
        src="../../../assets/undraw_time_management_re_tk5w.svg"
        alt=""
      />
    </div>
  </div>
</div>

<div class="curved-upper">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#f1faee"
      fill-opacity="1"
      d="M0,96L80,106.7C160,117,320,139,480,128C640,117,800,75,960,74.7C1120,75,1280,117,1360,138.7L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
    ></path>
  </svg>
</div>
<div class="container-main">
  <div class="task">
    <h2>
      Task
      <img src="https://img.icons8.com/stickers/45/000000/pencil.png" />
    </h2>
    <form class="form" [formGroup]="myForm">
      <mat-form-field appearance="outline">
        <mat-label>Task Name</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="E.g., Coding Session"
          formControlName="taskName"
        />
        <mat-error *ngIf="myForm.invalid">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Work Block Time (min)</mat-label>
        <input
          matInput
          autocomplete="off"
          type="number"
          formControlName="workingTime"
        />
        <mat-error *ngIf="myForm.controls['workingTime'].errors?.['required']"
          >This field is required</mat-error
        >
        <mat-error *ngIf="myForm.controls['workingTime'].errors?.['min']"
          >The value of this field must be al least 0.5 (30 sec)</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Number of Working Blocks</mat-label>
        <input
          matInput
          autocomplete="off"
          type="number"
          formControlName="amountBlocks"
          min="0"
        />
        <mat-error *ngIf="myForm.controls['amountBlocks'].errors?.['required']"
          >This field is required</mat-error
        >
        <mat-error *ngIf="myForm.controls['amountBlocks'].errors?.['min']"
          >The value of this field must be al least 2</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Rest Block Time (min)</mat-label>
        <input
          matInput
          autocomplete="off"
          type="number"
          formControlName="restTime"
          min="0"
        />
        <mat-error *ngIf="myForm.controls['restTime'].errors?.['required']"
          >This field is required</mat-error
        >
        <mat-error *ngIf="myForm.controls['restTime'].errors?.['min']"
          >The value of this field must be al least 0.5 (30 sec)</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="timer-container">
    <h2>
      Timer <img src="https://img.icons8.com/stickers/45/000000/clock.png" />
    </h2>
    <div class="container-buttons">
      <button
        mat-fab
        color="primary"
        (click)="play()"
        [disabled]="myForm.invalid"
        *ngIf="showPlayButton"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        (click)="pauseTask()"
        *ngIf="showPauseButton"
      >
        <mat-icon>pause</mat-icon>
      </button>
      <button
        mat-fab
        color="primary"
        *ngIf="showStopButton"
        (click)="stopTask()"
      >
        <mat-icon>stop</mat-icon>
      </button>
    </div>
    <section class="progress-section">
      <!-- <mat-progress-spinner
        [color]="color"
        [mode]="mode"
        [value]="value"
        [diameter]="200"
        [strokeWidth]="20"
      ></mat-progress-spinner>
      <div>
        <h3>{{ typeOfBlock }}</h3>
        <h3 *ngIf="showingTime > 0">{{ showingTime }}</h3>
      </div> -->
      <circle-progress
        [percent]="percent"
        [radius]="60"
        [maxPercent]="100"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="outerStrokeColor"
        [outerStrokeGradientStopColor]="outerStrokeGradientStopColor"
        [innerStrokeColor]="'#ffffff'"
        [innerStrokeWidth]="10"
        [animateTitle]="true"
        [animateSubtitle]="true"
        [responsive]="true"
        [title]="title"
        [subtitle]="subtitle"
        [animation]="true"
        [animationDuration]="300"
        [startFromZero]="false"
        [renderOnClick]="false"
      ></circle-progress>
    </section>
  </div>
</div>
<div
  class="container-tasks"
  *ngIf="isLogged === true"
>
  <mat-card class="card-tasks" *ngIf="completedTasks && completedTasks.length > 0; else emptyTask">
    <mat-card-title>
      <h2>
        Completed Tasks
        <img
          src="https://img.icons8.com/stickers/45/000000/task-completed--v2.png"
        />
      </h2>
    </mat-card-title>
    <mat-card-content>
      <div class="tasks">
        <app-task-card
          *ngFor="let task of completedTasks; let i = index"
          [taskInput]="task"
          [indexTask]="i"
        ></app-task-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!isLogged" class="container-noLogged">
  <mat-card class="card-noLogged">
    <mat-card-title>
      <h2>
        You are not logged in
        <img
          src="https://img.icons8.com/stickers/45/000000/--broken-heart.png"
        />
      </h2>
    </mat-card-title>
    <mat-card-content>
      <h3>
        Please, <a routerLink="/login">login</a> to see your tasks
      </h3>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #emptyTask >
  <div class="empty-task-container">
    <mat-card class="card-empty">
      <mat-card-title>
        <h2>
          You don't have any completed tasks
          <img src="https://img.icons8.com/stickers/100/000000/sad-cloud.png" />
        </h2>
      </mat-card-title>
      <mat-card-content>
        <div class="motivational-container">
          <h3>Keep on mind this amazing quote:</h3>
          <h3>
            “The secret of getting ahead is <strong>getting started</strong>.
            The secret of getting started is
            <i
              >breaking your complex overwhelming tasks into small, manageable
              tasks,</i
            >
            and then <strong>starting on the first one</strong>."" —Mark Twain
          </h3>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
